.dialog-container {
    min-height: 70vh;
    max-height: 550px;
    max-width: 400px;
    padding: 40px;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 22px;
    font-weight: 700;
}

.content {
    font-size: 18px;
    font-weight: 400;
}

.child-container{
    border-bottom: 0.5px grey solid;
}