<div class="dialog-container">
    <div style="display: flex;flex-direction: column;gap: 10px;">
        <div class="child-container">
            <p class="title">Username</p>
            <p class="content">{{datums.username}}</p>
        </div>
        <div class="child-container" style="display: flex; flex-direction: row;justify-content: flex-start;gap: 25px;">
            <div>
                <p class="title">First Name</p>
                <p class="content">{{datums.firstName}}</p>
            </div>
            <div>
                <p class="title">Last Name</p>
                <p class="content">{{datums.lastName}}</p>
            </div>
        </div>
        <div class="child-container">
            <p class="title">Email</p>
            <p class="content">{{datums.email}}</p>
        </div>
        <div class="child-container">
            <p class="title">Basic Sallary</p>
            <p class="content">{{datums.basicSalary | currency:'IDR':'' }}</p>
        </div>
        <div class="child-container">
            <p class="title">Status</p>
            <p class="content">{{datums.status}}</p>
        </div>
        <div class="child-container">
            <p class="title">Birth Date</p>
            <p class="content">{{datums.birthDate | date:'dd/MM/yyyy'}}</p>
        </div>
        <div class="child-container">
            <p class="title">GROUP</p>
            <p class="content">{{datums.group}}</p>
        </div>
        <div class="child-container">
            <p class="title">Description</p>
            <p class="content">{{datums.description}}</p>
        </div>
    </div>
    <div>
        <button type="button" (click)="closeDialog()" mat-raised-button color="primary"
            style="background-color: grey;width: 100%;">
            CLOSE
        </button>
    </div>
</div>