<form (ngSubmit)="onSubmit()">
    <div class="dialog-container">
        <div style="flex:1;display: flex;flex-direction: column; justify-content: space-between;">
            <div>
                <h2 class="text-title">UPDATE EMPLOYEE FORM</h2>
            </div>
            <div style="flex:1">
                <mat-form-field style="width: 100%;">
                    <mat-label>Username</mat-label>
                    <input autocomplete="username" value="{{employeeData.username}}" name="username"
                        (keyup)="onKeyupchangeInput($event)" matInput placeholder="Input your Username">
                </mat-form-field>
                <div style="display: flex;flex-direction: row;justify-content: space-between; gap: 10px;">
                    <mat-form-field style="width: 100%;">
                        <mat-label>First Name</mat-label>
                        <input autocomplete="firstName" value="{{employeeData.firstName}}" name="firstName"
                            (keyup)="onKeyupchangeInput($event)" matInput placeholder="Input your First Name">
                    </mat-form-field>
                    <mat-form-field style="width: 100%;">
                        <mat-label>Last Name</mat-label>
                        <input autocomplete="lastName" name="lastName" value="{{employeeData.lastName}}"
                            (keyup)="onKeyupchangeInput($event)" matInput placeholder="Input your Last Name">
                    </mat-form-field>
                </div>
                <mat-form-field style="width: 100%;">
                    <mat-label>Email</mat-label>
                    <input type="email" autocomplete="email" name="email" value="{{employeeData.email}}"
                        (keyup)="onKeyupchangeInput($event)" matInput placeholder="Input your Email">
                </mat-form-field>
                <mat-form-field style="width:100%">
                    <mat-label>Birth Date</mat-label>
                    <input [readonly]="true" matInput (dateChange)="onDateChange($event)"
                        (dateInput)="onDateChange($event)" value="{{employeeData.birthDate}}" [matDatepicker]="picker"
                        [max]="minDate" name="birthDate" placeholder="Choose a date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <mat-label>Basic Salary</mat-label>
                    <input type="number" name="basicSalary" value="{{employeeData.basicSalary}}" matInput
                        (keyup)="onKeyupchangeInput($event)" placeholder="Input your Basic Salary">
                </mat-form-field>
                <div>
                    <p for="" style="margin:0px 10px;font-weight: 700;">Status</p>
                    <mat-radio-group (change)="onKeyupchangeInput($event)" value="{{employeeData.status}}" name="status"
                        aria-label="Select an option">
                        <mat-radio-button color="primary" value="Permanent">Permanent</mat-radio-button>
                        <mat-radio-button color="primary" value="Contract">Contract</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field style="width: 100%;">
                    <mat-select #groupSelect name="group" value="{{employeeData.group}}"
                        (selectionChange)="onGroupChange($event)" placeholder="select group">
                        <mat-form-field style="width: 100%;">
                            <input type="text" matInput placeholder="Search Group">
                        </mat-form-field>
                        <mat-option value="Front End Application Development">Front End Application
                            Development</mat-option>
                        <mat-option value="Digital Wholesale Banking">Digital Wholesale Banking</mat-option>
                        <mat-option value="Digital Retail Banking">Digital Retail Banking</mat-option>
                        <mat-option value="Enterprise Data Analytics">Enterprise Data Analytics</mat-option>
                        <mat-option value="IT Application Supports">IT Application Supports</mat-option>
                        <mat-option value="Back End Application Development">Back End Application
                            Development</mat-option>
                        <mat-option value="IT Strategy & Architecture">IT Strategy & Architecture</mat-option>
                        <mat-option value="CISO Office">CISO Office</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <mat-label>Description</mat-label>
                    <textarea autocomplete="description" value="{{employeeData.description}}"
                        (keyup)="onKeyupchangeInput($event)" name="description" matInput
                        placeholder="Add Description"></textarea>
                </mat-form-field>
            </div>
            <div style="flex:1;display: flex;flex-direction: row; gap:10px;align-items: flex-end;">
                <button type="button" (click)="closeDialog()" mat-raised-button color="primary"
                    style="width: 100%;background-color: grey;">
                    CANCEL
                </button>
                <button disabled="{{!isFormValid}}" type="submit" mat-raised-button color="primary"
                    style="width: 100%;">
                    @if(isLoading){
                    <mat-spinner color="warn" style="width: 20px; height: 20px;"></mat-spinner>
                    }@else{
                    <p style="margin:0">UPDATE DATA</p>
                    }
                </button>
            </div>
        </div>
    </div>

</form>