.dialog-container {
    min-height: 80vh;
    max-height: 550px;
    max-width: 500px;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.text-title {
    text-align: center;
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius: 5px;
}