<main class="container">
  <div class="login-box">
    <p class="text-title">LOGIN</p>
    <form (ngSubmit)="onSubmit()">
      <mat-form-field style="width: 100%;">
        <mat-label>Email</mat-label>
        <input autocomplete="email" (keyup)="onKeyupchangeInput($event)" name="email" matInput
          placeholder="Input your Email">
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input autocomplete="current-password" (keyup)="onKeyupchangeInput($event)" name="password" matInput
          type="{{hide? 'password' : 'text'}}" placeholder="Input Your Password">
        <button type="button" mat-icon-button matSuffix (click)="toggleVisibilityPassword()"
          [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <div class="button-container">
        <button [disabled]="!isFormValid || isLoading" type="submit" mat-raised-button color="primary"
          style="width: 100%;">
          @if(isLoading){
          <mat-spinner color="accent" style="width: 20px; height: 20px;"></mat-spinner>
          }@else{
          <p style="margin:0">LOGIN</p>
          }
        </button>
      </div>
      <div class="error-container">
        @if (isWrongPassword) {
        <p class="error-text">Your password was incorrect.<br />Please check your password.</p>
        }
      </div>
    </form>
  </div>
</main>