.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.login-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    padding: 50px 50px;
    border-radius: 10px;
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.text-title {
    text-align: center;
    font-weight: 800;
    margin: 20px 0px;
    font-size: large;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.error-container {
    margin: 15px 0px
}

.error-text {
    color: red;
}