<div>
    <mat-toolbar color="primary" class="toolbar-container">
        <div class="toolbar-inner-container">
            <div>
                <button mat-mini-fab color="primary" type="button" (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="title-container">
                <p class="title-text">Mandiri<br />Employee Management</p>
            </div>
            <div>
                <button color="warn" (click)="logout()" mat-raised-button>
                    <mat-icon>logout</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>
    <mat-drawer-container class="container" autosize>
        <mat-drawer #drawer class="sidenav" mode="side" opened=>
            <div>
                <div class="profile-container">
                    <img [class.mat-elevation-z8]="true" class="avatar-image"
                        src="https://media.licdn.com/dms/image/D5603AQFGuvVarDrbeg/profile-displayphoto-shrink_400_400/0/1668306382622?e=2147483647&v=beta&t=jkwOH214yjPrbZaIn4JvLbMlL7W8e9C_I4DFnXDoL2M" />
                    <p style="font-weight: 600;font-size: medium;">Zikri Akmal S</p>
                    <p style="font-weight: 300;font-size: small;">Admin</p>
                </div>
                <hr />
                <div class="side-nav-child-container">
                    <button color="primary" mat-raised-button>
                        Employee Management
                    </button>
                </div>
                <hr />
                <div class="side-nav-child-container">
                    <button (click)="logout()" style="width: 100%;" mat-raised-button> <mat-icon>logout</mat-icon>Logout
                    </button>
                </div>
            </div>
        </mat-drawer>
        <!-- <div class="sidenav-content" (click)="drawer.toggle(false)"> -->
        <div class="sidenav-content">
            <div class="header-wrapper-1">
                <div class="header-content-container">
                    <div class="bradcrumb-container">
                        <div style="flex:1">
                            <mat-icon color="primary">home</mat-icon>
                        </div>
                        <a [href]="['/dashboard']">
                            <p style="font-weight: 800;" onclick=""> > Employee management</p>
                        </a>
                    </div>
                    <div>
                        <button class="btn-add" (click)="openAddDialog()" mat-raised-button>
                            <mat-icon>add</mat-icon>
                            Employee
                        </button>
                    </div>
                </div>
            </div>

            <div class="table-wrapper">
                <table class="table-wrapper" mat-table [dataSource]="dataSource" matSort
                    (matSortChange)="announceSortChange($event)">
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
                            Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by username">
                            Username </th>
                        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                    </ng-container>
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by firstName">
                            First Name
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastName">
                            Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action" style="max-width: 50px;">
                        <th mat-header-cell *matHeaderCellDef> Action </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="action-table-column">
                                <button color="default" type="button" (click)="openDetailDialog(element)" mat-mini-fab>
                                    <mat-icon style="color: grey;">visibility</mat-icon>
                                </button>
                                <button mat-mini-fab style="background-color: yellow;"
                                    (click)="openUpdateDialog(element)">
                                    <mat-icon style="color: black;">edit</mat-icon>
                                </button>
                                <button mat-mini-fab color="warn" (click)="openDeleteDialog(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <mat-paginator style="width: 100%;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </mat-drawer-container>


</div>