p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    min-height: 100vh;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.sidenav-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidenav {
    padding: 15px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-container {
    display: flex;
    flex: 1;
    justify-content: center;
    text-overflow: ellipsis;
}

.title-text {
    font-size: smaller;
    margin: 0;
    text-align: center;
}

.toolbar-container {
    padding: 40px 10px
}

.toolbar-inner-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bradcrumb-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0px;
    gap: 10px;
}

.header-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}

.avatar-image {
    margin: 20px 0px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50px;
    border: 0.5px solid #3f51b5;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.side-nav-child-container {
    margin: 0px 10px
}

.header-wrapper-1 {
    width: 100%;
    overflow-x: auto;
}

.action-table-column {
    display: flex;
    flex-direction: row;
    gap: 2px
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.btn-add {
    background-color: #698F42 !important;
    color: white !important;
}