.dialog-container {
    padding: 20px;
    overflow-y: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}


.child-container {
    border-bottom: 0.5px grey solid;
    padding: 20px;
}