<div class="dialog-container">
    <div style="display: flex;flex-direction: column;gap: 10px;">
        <div class="child-container">
            <p class="title">ARE YOU SURE WANT TO DELETE<br /><br /> "{{dataEmployee.username}}" DATA ? </p>
        </div>
    </div>
    <div style="display: flex;flex-direction: row; gap:20px">
        <button type="button" (click)="closeDialog()" mat-raised-button color="primary"
            style="background-color: grey;width: 100%;">
            CLOSE
        </button>
        <button disabled="{{isLoading ? 'true' : 'false'}}" type="button" (click)="deleteAction()" mat-raised-button
            color="warn" style="width: 100%;">
            @if(isLoading){
            <mat-spinner color="warn" style="width: 20px; height: 20px;"></mat-spinner>
            <!-- <p style="margin:0">Loading...</p> -->
            }@else{
            <p style="margin:0">YES</p>
            }
        </button>
    </div>
</div>